server {
  listen 8080;
  
  location /auth/ {
    rewrite ^/auth/(.*)$ /$1 break;
    proxy_pass https://${AUTH_HOST};
    proxy_http_version 1.1;
    proxy_set_header Host ${AUTH_HOST};
    proxy_ssl_server_name on;
    proxy_ssl_name ${AUTH_HOST};
  }

  location /profile/ {
    rewrite ^/profile/(.*)$ /$1 break;
    proxy_pass https://${PROFILE_HOST};
    proxy_http_version 1.1;
    proxy_set_header Host ${PROFILE_HOST};
    proxy_ssl_server_name on;
    proxy_ssl_name ${PROFILE_HOST};
  }

  location /projects/ {
    rewrite ^/projects/(.*)$ /$1 break;
    proxy_pass https://${PROJECTS_HOST};
    proxy_http_version 1.1;
    proxy_set_header Host ${PROJECTS_HOST};
    proxy_ssl_server_name on;
    proxy_ssl_name ${PROJECTS_HOST};
  }

  location /blog/ {
    rewrite ^/blog/(.*)$ /$1 break;
    proxy_pass https://${BLOG_HOST};
    proxy_http_version 1.1;
    proxy_set_header Host ${BLOG_HOST};
    proxy_ssl_server_name on;
    proxy_ssl_name ${BLOG_HOST};
  }

  location /cv/ {
    rewrite ^/cv/(.*)$ /$1 break;
    proxy_pass https://${CV_HOST};
    proxy_http_version 1.1;
    proxy_set_header Host ${CV_HOST};
    proxy_ssl_server_name on;
    proxy_ssl_name ${CV_HOST};
  }
}
